{% extends "base_layout.htm" %}

{% block title %} Xpensemate > Groups {% endblock %}

{% block top_navigation %}
<li> &raquo;&nbsp; Groups</li>
{% endblock %}

{% block sidebar %}
<ul>
    <li class="toctree-l1 current"><a class="reference internal" href="#">My groups</a>
        {% if groups|length > 0 %}
            <ul>
            {% for group in groups %}
                <li class="toctree-l2"><a class="reference internal" href="/groups/{{ group.group_id }}">{{ group.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    <li class="toctree-l1"><a class="reference internal" href="/logout">Logout</a>
    </li>
</ul>
{% endblock %}

{% block main_content %}
<div class="section" id="xpensemate">
    <h1>Welcome, {{ member_name }} !</h1>
    
    <div class="section" id="project-documentation">
        <h2>Here are your groups:</h2>
        
        {% if groups|length > 0 %}
            {% for group in groups %}
            <dl class="class">
                <a href="/groups/{{ group.group_id }}">
                <dt style="margin-bottom:15px">
                    <big>{{ group.name.upper() }}</big>
                </dt>
                </a>
                <dd>
                    {% for member in group.member_balance.keys()|sort %}
                    <dl class="attribute" style="margin-bottom:10px">
                        <dt{% if group.owner == member %} style="background:none repeat scroll 0% 0% #F0F0D0" {% endif %}>
                            <tt class="descname">{{ member }}</tt>
                            ({% if group.owner == member %}group owner, {% endif %}balance:
                            {% if (group.member_balance[member]|float/0.05)|round*0.05 == 0  %}
                                <span class="viewcode-link" style="padding-left:5px;color:#000000">
                                    {{ 0 }}
                            {% elif group.member_balance[member] < 0 %}
                                <span class="viewcode-link" style="padding-left:5px;color:#B80000">
                                    {{ "%0.2f"|format((group.member_balance[member]|float/0.05)|round*0.05) }}
                            {% else %}
                                <span class="viewcode-link" style="padding-left:5px">
                                    {{ "%0.2f"|format((group.member_balance[member]|float/0.05)|round*0.05) }}
                            {% endif %}
                                </span>)
                        </dt>
                    </dl>
                    {% endfor %}
                </dd>
            </dl>
            {% endfor %}
        {% else %}
            No groups yet.
        {% endif %}
    </div>
    
</div>

{% endblock %}
