{% extends "base_layout.htm" %}

{% block title %} Xpensemate > Groups {% endblock %}

{% block top_navigation %}
<li> &raquo;&nbsp; Groups</li>
{% endblock %}

{% block sidebar %}
<ul>
    <li class="toctree-l1 current"><a class="reference internal" href="/groups">My groups</a>
        {% if groups|length > 0 %}
            <ul>
            {% for group in groups %}
                <li class="toctree-l2"><a class="reference internal" href="/groups/{{ group.group_id }}">{{ group.name }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}
    <li class="toctree-l1"><a class="reference internal" href="/logout">Logout</a>
    </li>
</ul>
{% endblock %}

{% block main_content %}
<div class="section" id="xpensemate">
    <h1>Welcome, {{ member_name }} !</h1>
    
    <div class="section" id="project-documentation">
        <form id="group-form" class="wy-form" action="" method="post">
        {{ group_form.csrf_token() }}
        {{ group_form.action(id="group-form-action", value="new") }}
        {{ group_form.group_id(id="group-form-group-id") }}
        <h2>Here are your groups:</h2>
        
        {% if groups|length > 0 %}
            {% for group in groups %}
            <dl class="class">
                <a href="/groups/{{ group.group_id }}">
                <dt style="margin-bottom:15px">
                    <big>{{ group.name }}</big>
                </dt>
                </a>
<!--
                <a href="javascript:void(0)" onclick="document.getElementById('group-form-action').value='delete';document.getElementById('group-form-group-id').value={{group.group_id}};document.getElementById('group-form').submit();" ><span style="color:#B80000">&#10007;</span></a>
-->

                <dd>
                    {% for member in group.members %}
                    <dl class="attribute" style="margin-bottom:10px">
                        <dt{% if group.owner == member %} style="border-color:-moz-use-text-color -moz-use-text-color -moz-use-text-color #6AB0DE" {% endif %}>
                            <tt class="descname">{{ member }}</tt>
                            ({% if group.owner == member %}group owner, {% endif %}balance:
                            {% if round_to_closest_multiple(group.member_balance[member], group.smallest_unit) == 0  %}
                                <span class="viewcode-link" style="padding-left:5px;color:#000000">
                                    {{ 0 }}
                            {% elif group.member_balance[member] < 0 %}
                                <span class="viewcode-link" style="padding-left:5px;color:#B80000">
                                    {{ "%0.2f"|format(round_to_closest_multiple(group.member_balance[member], group.smallest_unit)) }}
                            {% else %}
                                <span class="viewcode-link" style="padding-left:5px">
                                    {{ "%0.2f"|format(round_to_closest_multiple(group.member_balance[member], group.smallest_unit)) }}
                            {% endif %}
                                </span>)
                        </dt>
                    </dl>
                    {% endfor %}
                </dd>
            </dl>
            {% endfor %}
        {% else %}
            <p>No groups yet.</p>
        {% endif %}
        <dl class="class">
            <a href="javascript:void(0)" onclick="document.getElementById('new-group-form-container').style.display='block'">
            <dt style="margin-bottom:15px">
                <big>+ new group</big>
                <dd id="new-group-form-container" style="display:none">
                    <dl class="attribute" style="margin-bottom:10px">
                        <dt>
                            <tt class="descname">
                                {{ group_form.group_name(placeholder="Group name", style="border-radius: 50px;padding: 6px 12px;") }}
                                {{ group_form.smallest_unit(placeholder="Smallest unit", style="border-radius: 50px;padding: 6px 12px;") }}
                                <a id="new-expense-submit" href="javascript:void(0)" onclick="document.getElementById('group-form-action').value='new';document.getElementById('group-form').submit();" class=""><span class="fa fa-arrow-circle-right"></span></a>
                                </form>
                            </tt>
                        </dt>
                    </dl>
                </dd>
            </dt>
            </a>
        </dl>
    </form>
    </div>
    
</div>

{% endblock %}
